<ion-view view-title="Sobre">
  <ion-content style="padding: 10px;">
    <h3 align="center" style="margin-top: 10px;">Sem Lactose App</h3>
    <p align="center">Versão 1.0</p>
    <p align="center">Este aplicativo tem por objetivo ajuda-lo a localizar produtos sem lactose.</p>
    <p align="center">No momento os produtos cadastrados estão localizados somente na cidade de Fortaleza-CE, para disponibiliza-lo para outros locais por favor entrar em contato.</p>
    <p align="center">Desenvolvido por Mário Jorge<br /> FONE: (85) 99734-5900</p>
    <p align="center"><a href="http://www.mariojorge.net">www.mariojorge.net</a></p>
  </ion-content>
</ion-view>
